<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title Document
    body
        div.allBlank
        header.logo
            h1 LOGOTIPO
        header.allBlank3
        nav.headerLinks
            a.headerLinks__inicio(href="") Inicio
            a.headerLinks__productos(href="") Productos
            a.headerLinks__servicios(href="") Servicios
        header.header3
        header.headerButton
            button(type="submit") ¡compra  ya!
        div.allBlank2

        div.blankSlider1
        div.blankSlider2
        div.blankSlider3
        div.blankSlider4
        div.sliderImage
            img(src="assets/imgs/camera.svg", alt="")
        div.sliderText
            h1 Nueva Camera, con Nueva Lente
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae ullam necessitatibus fugiat esse? Consequatur cumque exercitationem odit reiciendis, labore laudantium, consectetur neque quaerat architecto reprehenderit dolorum obcaecati voluptate voluptatum id.
            button.button__sliderRight(type="submit") Leer más



        div.buttonSlider
        div.allBlankTopMain1
        div.allBlankTopMain2
        div.midMainText1
            h2 Opción 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae in, et omnis quibusdam laborum libero vel dolorem aliquam, aperiam perferendis possimus. Eos, quis expedita molestias odio blanditiis excepturi quaerat iusto!
        div.midMainText2
            h2 Opción 2
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, molestiae voluptate, laborum alias expedita praesentium nam quibusdam labore voluptates natus quos id? Animi aliquam atque quidem, numquam sapiente inventore reprehenderit.

        div.midMainImage
            img(src="assets/imgs/midCamera.svg", alt="")
        div.midMainText3
            h2 Opción 3
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quaerat asperiores soluta fugiat maxime nostrum dolor odit illum consequatur sit, inventore quidem unde sint doloremque tempore reprehenderit provident aspernatur! Reprehenderit!

        div.midMainText4
            h2 Opción 4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia maiores sunt, aliquam fuga molestiae tenetur consectetur ratione recusandae nihil amet rem quas, dignissimos dolores, minus ut praesentium corrupti assumenda itaque!

        div.midMainBlank1
        div.midMainBlank2
        div.midMainBlank3
        div.midMainBlank4


        div.bottomMainImage
            img(src="assets/imgs/bottomCamera.svg", alt="")
        div.bottoMain4
            p.bold Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, culpa? Voluptates quo natus ducimus optio error harum animi dignissimos, modi placeat, impedit blanditiis rem maiores odio sint reiciendis minima ea?
            p.bold Lorem ipsum dolor sit amet consectetur adipisicing elit. A exercitationem nostrum officiis autem. Vitae fugiat praesentium, sint inventore recusandae delectus, eius amet quibusdam quaerat quam cum, sequi aliquam tempora nemo?
            p.bold Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate qui provident nihil illum voluptates non, maiores sapiente totam, iure deleniti laboriosam? Quibusdam, voluptate. Voluptates laudantium eius consequatur cum, eveniet fugiat.
        div.allBlankBottomMain1
        div.allBlankBottomMain2
        div.allBlankBottomMain3



        div.footerPrimero
            p Copyright 2020
        div.footerLink1
            div.footerDiv1
                h3 Empresa
                p Quienes Somos
                p Historia
            
            div.footerDiv2
                h3 Comunidad
                p Eventos
                p Blog
                p Foro
        div.footerLink2
            div.footerDiv3
                h3 Contactar
                p Formulario
                p +34 666 66 66 66

            div.footerDiv4
                h3 Redes
                p Facebook
                p Twitter
                p Instagram


        div.footerLink3
            input(type="text")
            button.button__Form Noticias


        div.allBlankFooter
        div.allBlankFooter2

        div.allBlankFooter3
      
        div.allBlankFooter4
